body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contents {
  top: 500px;
  color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.js-clock {
  font-size: 20vh;
  font-weight: 500;
}

.js-greetings {
  font-size: 5vh;
  margin-top: 3vh;
}

input {
  font-size: 5vh;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  border-bottom: 4px solid white;
  text-align: center;
  margin-top: 3vh;
  outline: none;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

li {
  font-size: 5vh;
  color: white;
  opacity: 0.9;
  margin-top: 2vh;
}

button {
  font-size: 4vh;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.js-toDoList {
  list-style: none;
  text-align: left;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-weather {
  display: flex;
  justify-content: flex-end;
  color: white;
  opacity: 0.9;
  font-size: 30px;
  font-weight: 100;
}
